@font-face {
  font-family: myFont;
  src: url(NeueMachinaRegular400.otf);
}

body{
	background-color:#000;
	padding: 20px;
}

h1{
	font-family: myFont;
	font-size: 3em;
	color: #fff;
	display: block;
	padding: 0px;
}
a{
	font-family: myFont;
	font-size: 3em;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 20px;
	filter: blur(5px);
}

a:hover{
	padding-left: 50px;
	filter: blur(0px);
}

h2{
	font-family: myFont;
	font-size: 1.5em;
	color: #fff;
	display: block;
	margin-left: 40%;
	padding: 50px;
}